@import url('https://fonts.googleapis.com/css?family=Merienda|Work+Sans:400,700');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Work Sans', sans-serif;
  color: #222;

  margin: 0;
}

h1 {
  font-size: 1.8rem;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}

img {
  max-width: 100%;
  max-height: 100%;
}

/* ==========================================================
  App
============================================================= */
#app {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  align-content: flex-start;

  min-height: 100vh;
}

/* ===============================================
  Hamburger Icon
================================================== */
.hamburger-icon {
  width: 100%;
  background-color: #fff;

  max-height: 3rem;
  border-bottom: 1px solid #222;
}

.hamburger-icon img {
  cursor: pointer;
  padding: .5rem;
}

/* ===============================================
  Map
================================================== */
#map {
  flex: 1 calc(100vw - 25rem);
  /* order: 1; */
  height: 75vh;
}

/* ===============================================
  Sidebar
================================================== */
#sidebar {
  flex: 0 22rem;
  max-height: 75vh;
  overflow: auto;
  padding: 1rem;

  text-align: center;

  transition: flex .3s;
}

/* ----- Restaurants List ----- */
.restaurants-list li {
  cursor: pointer;
  font-size: 1.2rem;
  padding: .7rem 0;
  border-bottom: 1px solid rgba(0, 0, 0, .2);

  transition: border-bottom .3s;
}

.restaurants-list li:hover {
  border-bottom: 1px solid rgba(30, 30, 30, .7);
}

/* ===============================================
  Footer
================================================== */
footer {
  text-align: center;
  /* height: 5rem; */

  width: 100%;
  background-color: #fff;
  border-top: 1px solid #222;
}

/* ==========================================================
  Media Queries
============================================================= */
@media (max-width: 662px) {
  #sidebar {
    flex: 0 0.01rem;
    padding: 0;  
  }
}